workflows/email_assistant.json
{
  "name": "AI Email Assistant",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "includeSpamTrash": false,
          "q": "is:unread"
        },
        "options": {
          "downloadAttachments": false
        }
      },
      "id": "b3093089-2bf7-4cc7-b3fb-adf299ebbb27",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "ZHVxLJOKCerUkLPh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "from-not-noreply",
              "leftValue": "={{ $json.headers.from || '' }}",
              "rightValue": "noreply",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "from-not-no-reply",
              "leftValue": "={{ $json.headers.from || '' }}",
              "rightValue": "no-reply",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ea349fee-3909-4a19-9ee1-4dd2950f7a82",
      "name": "IF Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an email assistant. Classify the email into: inquiry, complaint, spam, newsletter, support, other. Write a professional draft reply in the same language. Respond ONLY with valid JSON: {\\\"category\\\": \\\"inquiry\\\", \\\"priority\\\": \\\"high|medium|low\\\", \\\"summary\\\": \\\"2-3 sentence summary\\\", \\\"draft_reply\\\": \\\"Full draft reply text\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"={{ 'From: ' + ($json.headers.from || '') + '\\\\nSubject: ' + ($json.subject || '') + '\\\\nBody:\\\\n' + ($json.text || $json.snippet || '').replace(/\\\"/g, '\\\\\\\\\\\"').replace(/\\n/g, '\\\\\\\\n') }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "0ebec0b4-571d-4f0f-a0ca-67ea182e1b96",
      "name": "OpenAI Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        0
      ],
      "credentials": {
        "openAiApi": {
          "id": "sdsM773MEQKhCZ4J",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json;\nconst content = source.choices?.[0]?.message?.content || '{}';\nconst parsed = JSON.parse(content);\n\nreturn [\n  {\n    json: {\n      ...source,\n      ...parsed,\n      originalEmail: $('Gmail Trigger').first().json\n    }\n  }\n];"
      },
      "id": "eb22a571-0ced-470f-a325-d07e46961b47",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        0
      ]
    },
    {
      "parameters": {
        "chatId": "=8409896342",
        "text": "=📧 <b>New email</b>\n<b>From:</b> {{$json.originalEmail.from.value[0].name || $json.originalEmail.from.value[0].address}}\n<b>Subject:</b> {{$json.originalEmail.subject || $json.subject}}\n🏷 Category: {{$json.category}} | Priority: {{$json.priority}}\n📝 <b>Summary:</b>\n{{$json.summary}}\n✍️ <b>Draft reply:</b>\n{{$json.draft_reply}}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "✅ Send",
                    "additionalFields": {
                      "callback_data": "=send:{{ $json.originalEmail.id }}"
                    }
                  },
                  {
                    "text": "✏️ Edit",
                    "additionalFields": {
                      "callback_data": "edit"
                    }
                  },
                  {
                    "text": "❌ Reject",
                    "additionalFields": {
                      "callback_data": "reject"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "311ee47e-83b2-44db-8037-cbe5c889f2f2",
      "name": "Telegram Card",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        944,
        0
      ],
      "webhookId": "751413e7-ae50-4e3f-a31a-636f9137e16f",
      "credentials": {
        "telegramApi": {
          "id": "IlEW2N8sTfntkf4t",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "0c48dfe1-5bb7-48e8-b02c-e2c2de29514f",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        0,
        272
      ],
      "webhookId": "846c4cf2-4454-4066-8210-b5b3fea7f012",
      "credentials": {
        "telegramApi": {
          "id": "IlEW2N8sTfntkf4t",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "send",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "27844e4b-45bc-4c2d-b841-02c4637070b6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "send"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "55b478a7-aff1-4acc-891d-b14d5c5b1425"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "edit"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "c767693a-9da8-4ea3-bf96-a3ed2e8ba210"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "reject"
            }
          ]
        },
        "options": {}
      },
      "id": "9086a39d-0d8a-42ba-9cda-012a1829b5bf",
      "name": "Action Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        240,
        272
      ]
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $json.callback_query.data.split(':')[1] }}",
        "emailType": "text",
        "message": "={{ $json.callback_query.message.text.split('✍️ Draft reply:\\n')[1] }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "36111e85-217d-4999-96df-d2ef1ce7d0e5",
      "name": "Gmail Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        496,
        224
      ],
      "webhookId": "a65b33a5-51d2-4bdc-84ce-d3d01ca30e9d",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZHVxLJOKCerUkLPh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=8409896342",
        "text": "=✅ Done! Action: {{ $json.callback_query.data.split(':')[0] }}",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      },
      "id": "67036fb8-9fc3-4fff-bde3-a2a5683f6ec9",
      "name": "Telegram Confirm",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        752,
        272
      ],
      "webhookId": "55d6a321-5166-4ba7-8600-3950ec125a2a",
      "credentials": {
        "telegramApi": {
          "id": "IlEW2N8sTfntkf4t",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "IF Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Filter": {
      "main": [
        [
          {
            "node": "OpenAI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Request": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Telegram Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Action Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch": {
      "main": [
        [
          {
            "node": "Gmail Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Confirm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send": {
      "main": [
        [
          {
            "node": "Telegram Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "035172fd-f844-4af4-834a-907aa2bd57cf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f83b31a2aaeb4de39637031a5a86a081746c3d5f9eccf2a2b4e679554624a99a"
  },
  "id": "dmWHcppM1KBSlVIY",
  "tags": []
}