workflows/email_assistant.json
{
  "name": "AI Email Assistant",
  "active": false,
  "nodes": [
    {
      "id": "1",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1,
      "position": [
        120,
        260
      ],
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "labelIds": [
          "INBOX"
        ],
        "filters": {
          "includeSpamTrash": false,
          "q": "is:unread"
        },
        "options": {
          "downloadAttachments": false,
          "format": "resolved"
        }
      }
    },
    {
      "id": "2",
      "name": "IF Filter",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        340,
        260
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "from-not-noreply",
              "leftValue": "={{ $json.from || '' }}",
              "rightValue": "noreply",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            },
            {
              "id": "from-not-no-reply",
              "leftValue": "={{ $json.from || '' }}",
              "rightValue": "no-reply",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ]
        }
      }
    },
    {
      "id": "3",
      "name": "OpenAI Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        580,
        260
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"response_format\": { \"type\": \"json_object\" },\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an email assistant. Given an incoming email, do two things:\\n\\nClassify it into one of: inquiry, complaint, spam, newsletter, support, other\\nWrite a professional draft reply in the same language as the email.\\n\\nRespond ONLY with valid JSON and nothing else:\\n{\\n  \\\"category\\\": \\\"inquiry\\\",\\n  \\\"priority\\\": \\\"high|medium|low\\\",\\n  \\\"summary\\\": \\\"2-3 sentence summary of the email\\\",\\n  \\\"draft_reply\\\": \\\"Full draft reply text\\\"\\n}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"From: {{$json.from}}\\nSubject: {{$json.subject}}\\nBody:\\n{{$json.text || $json.snippet || ''}}\"\n    }\n  ]\n}"
      }
    },
    {
      "id": "4",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        260
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const source = $input.first().json;\nconst content = source.choices?.[0]?.message?.content || '{}';\nconst parsed = JSON.parse(content);\n\nreturn [\n  {\n    json: {\n      ...source,\n      ...parsed,\n      originalEmail: $('Gmail Trigger').first().json\n    }\n  }\n];"
      }
    },
    {
      "id": "5",
      "name": "Telegram Card",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1060,
        260
      ],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=📧 <b>New email</b>\n<b>From:</b> {{$json.originalEmail.from || $json.from}}\n<b>Subject:</b> {{$json.originalEmail.subject || $json.subject}}\n🏷 Category: {{$json.category}} | Priority: {{$json.priority}}\n📝 <b>Summary:</b>\n{{$json.summary}}\n✍️ <b>Draft reply:</b>\n{{$json.draft_reply}}",
        "additionalFields": {
          "parse_mode": "HTML",
          "reply_markup": "={\"inline_keyboard\":[[{\"text\":\"✅ Send\",\"callback_data\":\"send\"},{\"text\":\"✏️ Edit\",\"callback_data\":\"edit\"},{\"text\":\"❌ Reject\",\"callback_data\":\"reject\"}]]}"
        }
      }
    },
    {
      "id": "6",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        120,
        520
      ],
      "parameters": {
        "updates": [
          "callback_query"
        ],
        "additionalFields": {
          "path": "telegram-callback"
        }
      }
    },
    {
      "id": "7",
      "name": "Action Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        360,
        520
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.callback_query.data }}",
                    "rightValue": "send",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "send"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.callback_query.data }}",
                    "rightValue": "edit",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "edit"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "typeValidation": "strict"
                },
                "combinator": "and",
                "conditions": [
                  {
                    "leftValue": "={{ $json.body.callback_query.data }}",
                    "rightValue": "reject",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "reject"
            }
          ]
        }
      }
    },
    {
      "id": "8",
      "name": "Gmail Send",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        620,
        460
      ],
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').first().json.id || '' }}",
        "emailType": "text",
        "message": "={{ $('Parse Response').first().json.draft_reply || 'Placeholder reply text. Replace with the approved draft in the n8n UI.' }}",
        "options": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "9",
      "name": "Telegram Confirm",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        860,
        520
      ],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{$env.TELEGRAM_CHAT_ID}}",
        "text": "=Action received: {{$json.body.callback_query.data}}. Update this branch in the n8n UI to send a final confirmation, prompt for an edited reply, or dismiss the draft.",
        "additionalFields": {
          "parse_mode": "HTML"
        }
      }
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "IF Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Filter": {
      "main": [
        [
          {
            "node": "OpenAI Request",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "OpenAI Request": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Telegram Card",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Action Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Action Switch": {
      "main": [
        [
          {
            "node": "Gmail Send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Confirm",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Send": {
      "main": [
        [
          {
            "node": "Telegram Confirm",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "id": "ai-email-assistant-v1"
}
